<div class="row container" (click)="openEditDialog()">
    <div class="col-2 delete-container" *ngIf="deleteMode">
        <button class="delete-button faded-text" (click)="$event.stopPropagation(); delete()" [disabled]="loading"><fa-icon [icon]="trash"></fa-icon></button>
    </div>
    <div class="col-4 title-container">
        <!-- {{ item?.time | date: 'HH:mm' }} -->
        <h3 class="title" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'">{{ item?.time.split(':')[0] + ':' + item?.time.split(':')[1] }}</h3>
    </div>
    <div class="col-4 amount-container">
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[0]"></fa-icon>
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[1]"></fa-icon>
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[2]"></fa-icon>
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[3]"></fa-icon>
        <br>
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[4]"></fa-icon>
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[5]"></fa-icon>
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[6]"></fa-icon>
        <fa-icon class="amount-dot" [ngClass]="item?.enabled ? 'black-text' : 'faded-text'" [icon]="circles[7]"></fa-icon>
    </div>
    <!-- <div class="col-1">
        <button class="delete-button" (click)="delete()"><fa-icon [icon]="trash"></fa-icon></button>
    </div> -->
    <div class="col-4 toggler-container" *ngIf="!deleteMode">
        <mat-slide-toggle [(ngModel)]="item.enabled" (click)="$event.stopPropagation();" (change)="enable()" [disabled]="loading"></mat-slide-toggle>
    </div>
</div>