.container {
    margin: 0;
    width: 100%;
    border: none;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}

.container:hover {
    background-color: rgba(245, 245, 245);
}

.title-container {
    font-weight: 100;
    padding: 42px 0 45px 20px;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

.amount-container {
    text-align: center;
    padding: 38px 0 20px 0;
}

.toggler-container {
    text-align: right;
    padding: 50px 0 20px 0;
}

.title {
    margin: auto;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.amount-dot {
    margin: 3px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.black-text {
    color: black;
}

.faded-text {
    color: rgba(0, 0, 0, 0.3);
}

.delete-container {
    padding: 42px;
}

.delete-button {
    border: none;
    background-color: transparent;
    margin: auto;
    height: 30px;
    width: 30px;
    font-size: 22px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.delete-button:hover {
    color: black;
}