body {
    overflow: hidden; /* Hide scrollbars */
}

@media only screen and (max-width: 800px) {
    .feed-button {
        margin: 0px auto;
        margin-top: 5vw;
        width: 50vw;
        height: 50vw;
        border-radius: 25vw;
        border: solid white 5px;
        background-color: #7fc556;
        position:relative;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        font-size: 20vw;
        color: white;-webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .feed-button:hover {
        background-color: #89d65d;
        font-size: 24vw;
        
    }
}

@media only screen and (min-width: 800px) {
    .feed-button {
        margin: 0px auto;
        margin-top: 5vw;
        width: 25vw;
        height: 25vw;
        border-radius: 12.5vw;
        border: solid white 5px;
        background-color: #7fc556;
        position:relative;
        -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        font-size: 10vw;
        color: white;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .feed-button:hover {
        background-color: #89d65d;
        font-size: 12vw;
        
    }
}



#box-div {
    background: #7eaacd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: -moz-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: -o-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: linear-gradient(to bottom right, whitesmoke, #7eaacd);
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
}

h2 {
    margin: 10px;
    color: slategray;
}

.amount-container {
    margin: auto;
    margin-top: 30px;
    width: 400px;
}

.amount-button-container {
    margin: 0 auto;
    padding: 0;
}

.amount-button {
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.amount-button:disabled {
    background-color: rgb(245, 245, 245, 50%);
}

.amount-button:hover:not(:disabled) {
    background-color: white;
    font-size: 21px;
}

.amount-dots-container {
    width: 100%;
    padding: 0 30px;
    color: whitesmoke;
}

.amount-dot {
    margin: 0 5px;
    font-size: 25px;
}

.amount-label-container {
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    width: 65px;
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 1px;
    color: rgb(240, 240, 240);
}

button:focus {
    outline: none;
}

.schedule-button {
    margin-top: 50px;
    margin-left: 10px;
    height: 100px;
    width: 100px;
    border: 5px solid white;
    background-color: #008080;
    color: white;
    font-size: 25px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.3s ease-in;
}

.schedule-button:hover {
    margin-top: 40px;
    margin-left: 0px;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    border: 15px solid white;
}