html, body {
    overflow: hidden; /* Hide scrollbars */
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#content-div {
    margin-top: 56px;
    margin-bottom: -56px;
    background: #7eaacd;
    background: -webkit-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: -moz-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: -o-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: linear-gradient(to bottom right, whitesmoke, #7eaacd);
    background-image: url(https://wallpapercave.com/wp/hBL8JnS.jpg);
    background-position-y: center;
    /* font-family: Verdana, Geneva, sans-serif; */
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow-x: hidden; /* Hide scrollbars */
}

.navbar-collapse {
    background-color: #212529;
    /* text-align: center; */
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.navbar-collapse li {
    margin-right: 40px;
}

.navbar-toggler {
    font-size: 12px;
    height: 40px;
    background-color: #ffc04b;
    color: white;
}

.navbar-toggler fa-icon{
    margin-left: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(245, 245, 245, 0.7);
    border-radius: 5px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

.topbar-title-container {
    /* text-align: center;
    font-size: 22px; */
    color: #ffc04b;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.topbar-title-container a {
    color: #ffc04b;
}

.topbar-time-container {
    text-align: center;
    color: #ffc04b;
}

.topbar {
    background-color: #212529;
    color: #ffc04b;
    padding-left: 120px;
    padding-right: 120px;
    /* position: fixed;
    width: 100%;
    top: 0; */
}

button:focus {
    outline: none;
}

.schedule-button {
    margin-top: 50px;
    margin-left: 10px;
    height: 100px;
    width: 100px;
    border: 5px solid white;
    background-color: #008080;
    color: white;
    font-size: 25px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.3s ease-in;
}

.schedule-button:hover {
    margin-top: 40px;
    margin-left: 0px;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    border: 15px solid white;
}

/* .menu-container {
} */

#home-button {
    background-color: #7fc556;
}

#schedule-button {
    background-color: #ffc04b;
    margin-top: 80px;
}

#info-button {
    background-color: #5683c5;
    margin-top: 160px;
}

.menu-button {
    position: fixed;
    color: white;
    border: none;
    margin-left: -120px;
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    text-align: right;
    padding: 15px 20px 0 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transition: visibility none;
}


@media only screen and (max-width: 768px) {
    .menu-button {
        visibility: hidden;
    }
}

.menu-text {
    visibility: hidden;
    -moz-opacity:0; 
    filter:alpha(opacity=0); 
    opacity:0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

/* @media only screen and (max-width: 800px) {
    .menu-button:hover {
        width: 240px;
    }
} */

.menu-button:hover {
    margin-left: 0px;
}
.menu-button:hover .menu-text {
    visibility: visible;
    -moz-opacity:1; 
    filter:alpha(opacity=1); 
    opacity:1;
    transition-delay: 0.2s;
}


#amount-help {
    margin: 0;
    font-size: 20px;
}