/* .container {
    background: #7eaacd;
    background: -webkit-linear-gradient(right,  #7eaacd, #8DC26F);
    background: -moz-linear-gradient(right,  #7eaacd, #8DC26F);
    background: -o-linear-gradient(right,  #7eaacd, #8DC26F);
    background: linear-gradient(to left, #7eaacd, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top:0;
    left:0;
    width:100%;
}*/

@media only screen and (max-width: 800px) {
    .feed-button {
        margin-left: 25vw;
        margin-top: 5vw;
        width: 50vw;
        height: 50vw;
        border-radius: 25vw;
        border: solid white 5px;
        background-color: #89d65d;
        position:relative;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        font-size: 20vw;
        color: white;-webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .feed-button:hover {
        background-color: #7fc556;
        font-size: 24vw;
        
    }
}

@media only screen and (min-width: 800px) {
    .feed-button {
        margin-left: 37.5vw;
        margin-top: 5vw;
        width: 25vw;
        height: 25vw;
        border-radius: 12.5vw;
        border: solid white 5px;
        background-color: #89d65d;
        position:relative;
        -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        font-size: 10vw;
        color: white;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .feed-button:hover {
        background-color: #7fc556;
        font-size: 12vw;
        
    }
}



#box-div {
    background: #7eaacd; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: -moz-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: -o-linear-gradient(to bottom right,  whitesmoke, #7eaacd);
    background: linear-gradient(to bottom right, whitesmoke, #7eaacd);
    /* font-family: "Roboto", sans-serif; */
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

h2 {
    margin: 20px;
    color: slategray;
}