<nav class="navbar topbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand topbar-title-container" routerLink="/home">Automatic Feeder</a>
    <!-- <span class="topbar-time-container navbar-text">
        {{ time | date: 'HH:mm:ss' }}
    </span> -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        MENU<fa-icon [icon]="bars"></fa-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item nav-home" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/home">
                    <fa-icon [icon]="home"></fa-icon>
                    <br>
                    Home 
                    <span class="sr-only">(current)</span>
                    </a>
            </li>
            <li class="nav-item nav-schedule" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="/schedule">
                    <fa-icon [icon]="clock"></fa-icon>
                    <br>
                    Schedule
                </a>
            </li>
            <li class="nav-item nav-about">
                <a class="nav-link" routerLink="/schedule">
                    <fa-icon [icon]="info"></fa-icon>
                    <br>
                    About
                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="content-div">

    <div class="row">
        <div class="col-lg-2 hidden-xs hidden-sm menu-container">
            <div class="row">
                <button class="menu-button" id="home-button" (click)="this.router.navigate(['/home']);">
                    <div class="row">
                        <div class="col-9">
                            <p class="menu-text">Home</p>
                        </div>
                        <div class="col-3">
                            <fa-icon [icon]="home"></fa-icon>
                        </div>
                    </div>
                </button>
            </div>
            <div class="row">
                <button class="menu-button" id="schedule-button" (click)="this.router.navigate(['/schedule']);">
                    <div class="row">
                        <div class="col-9">
                            <p class="menu-text">Schedule</p>
                        </div>
                        <div class="col-3">
                            <fa-icon [icon]="clock"></fa-icon>
                        </div>
                    </div>
                </button>
            </div>
            <div class="row">
                <button class="menu-button" id="info-button">
                    <div class="row">
                        <div class="col-9">
                            <p class="menu-text">About</p>
                        </div>
                        <div class="col-3">
                            <fa-icon [icon]="info"></fa-icon>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-lg-8 col-12" >
            <router-outlet></router-outlet>
        </div>
        <div class="col-lg-2 hidden-xs hidden-sm">
            <!-- <div class="row">
                <button class="menu-button" id="home-button" (click)="this.router.navigate(['/home']);">
                    <div class="row">
                        <div class="col-3">
                            <fa-icon [icon]="home"></fa-icon>
                        </div>
                        <div class="col-9">
                            <p class="menu-text">Home</p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="row">
                <button class="menu-button" id="schedule-button" (click)="this.router.navigate(['/schedule']);">
                    <div class="row">
                        <div class="col-3">
                            <fa-icon [icon]="clock"></fa-icon>
                        </div>
                        <div class="col-9">
                            <p class="menu-text">Schedule</p>
                        </div>
                        
                    </div>
                </button>
            </div>
            <div class="row">
                <button class="menu-button" id="info-button">
                    <div class="row">
                        <div class="col-3">
                            <fa-icon [icon]="info"></fa-icon>
                        </div>
                        <div class="col-9">
                            <p class="menu-text">About</p>
                        </div>
                        
                    </div>
                </button>
            </div> -->
        </div>
    </div>
</div>