<!-- <div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <button class="feed-button">Feed</button>
        </div>
        <div class="col-3"></div>
    </div>
</div> -->

<div id="box-div">
    <div id="content-div">
        <div class="row topbar">
            <div class="col-4 topbar-title-container">
                <a routerLink="/home">Automatic Feeder</a>
            </div>
            <div class="col-4 topbar-time-container">
                {{ time | date: 'HH:mm:ss' }}
            </div>
        </div>
        <div class="row">
            <div class="col-2 menu-container">
                <div class="row">
                    <button class="menu-button" id="home-button" (click)="this.router.navigate(['/home']);">
                        <div class="row">
                            <div class="col-9">
                                <p class="menu-text">Home</p>
                            </div>
                            <div class="col-3">
                                <fa-icon [icon]="home"></fa-icon>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="row">
                    <button class="menu-button" id="schedule-button" (click)="this.router.navigate(['/schedule']);">
                        <div class="row">
                            <div class="col-9">
                                <p class="menu-text">Schedule</p>
                            </div>
                            <div class="col-3">
                                <fa-icon [icon]="clock"></fa-icon>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="row">
                    <button class="menu-button" id="info-button">
                        <div class="row">
                            <div class="col-9">
                                <p class="menu-text">About</p>
                            </div>
                            <div class="col-3">
                                <fa-icon [icon]="info"></fa-icon>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-8">
                <router-outlet></router-outlet>
            </div>
            <div class="col-2">
                <!-- <button class="schedule-button" (click)="this.router.navigate(['/schedule']);">
                    <fa-icon [icon]="clock"></fa-icon>
                </button> -->
            </div>
        </div>
    </div>

</div>